html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

#notebook {
  font-size: 1.6em;
    margin:5px;
}

.delete {
    height: 1.3em;
    float: right;
    position: absolute;
    right: .5em;
}
